diffusers==0.18.2
einops==0.6.1
jsonlines==4.0.0
librosa==0.9.2
numba==0.58.1
numpy==1.23.0
omegaconf==2.3.0
pandas==1.4.1
pytorch-lightning==1.5.10
scipy==1.8.0
soundfile==0.12.1
taming-transformers-rom1504==0.0.6
tensorboard==2.2.0
tokenizers==0.13.3
torch==2.0.0
torchaudio==2.0.1
torchvision==0.15.1
torchdyn==1.0.6
tqdm==4.63.1
transformers==4.27.0
wandb==0.12.14